#horsparis{
    width: 25%;
    margin: auto;

}
.hors-paris-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
table {
    width: 50%;
    border-collapse: collapse;
    margin: auto; 
  }

  th {
    background-color: #f2f2f2; 
    padding: 8px; 
    text-align: left; 
    border-bottom: 1px solid #ddd; 
  }
  
 
  td {
    padding: 8px; 
    text-align: left; 
    border-bottom: 1px solid #ddd; 
  }
  
  
  tr:nth-child(odd) {
    background-color: #f9f9f9; 
  }
  